[user]
    name = Romel Benavides
    email = romelben@mac.com
[apply]
# Detect whitespace errors when applying a patch
    whitespace = fix
#[commit]
    # https://help.github.com/articles/signing-commits-using-gpg/
#    gpgsign = true
[core]
    editor = vi
    excludesfile = ~/.gitignore
    autocrlf = input

    # Trest spaces before tabs and all kinds of trailing whitespace as an error
    whitespace = space-before-tab, -indent-with-non-tab, trailing-space

    # Make `git rebase` safer on macOS.
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

    # Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true
[branch]
    # Show most recently changed branches first
    sort = -committerdate
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[diff]
    # Detect copies as well as renames
    renames = copies
[help]
    # Automatically correct and execute mistyped commands
    autocorrect = 1
[web]
    browser = brave
[credential]
    helper = osxkeychain
[push]
    default = simple
[merge]
    tool = kdiff3
[difftool]
    prompt = false
[alias]
    c = commit
    ca = commit -a
    cm = commit -m
    cam = commit -am
    d = diff
    dc = diff --cached
    l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
#
# URL shortcuts
#
[url "git@github.com:"]

	pushInsteadOf = "https://github.com/"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"